.mainNewsDiv{
    font-family: 'Roboto';
    height: 85vh;
    width: 30vw;
    box-sizing: border-box;
}

.newsTitle{
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 26px;
    font-weight: 500;
}

.newsText{
    color: black;
    background-color: white;
    font-size: 16px;
    height: 10vh;
    font-weight: 400;
    text-align: justify;
}

.mainNewsDiv img{
    width: 30vw;
    height: 40vh;
}